@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: monospace;
}
body {
font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #1b1b1b;
}
main {
margin-top: 25px ;
}
/*Desktop View*/
@media (min-width: 768px){
  main {
    margin-top: 0px ;
    margin-left: 248px;
    padding: 10px;
  }
}
#navBarHeader{
    background-image: linear-gradient(to left,rgb(216, 29, 216),rgb(98, 16, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline;
}
header{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline;
}
a {
  position: relative;
  text-decoration: underline;
  border-bottom: thick;
  &::before {
    content: "";
    position: absolute;          
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
  }
}
a:link{
    color:#FFACFC;
}
a:visited{
    color:white;
}
a:hover {
    background-image: linear-gradient(to right,rgb(216, 29, 216),rgb(98, 16, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Mobile View*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  background-color: #1b1b1b;
  border-style: solid;
  color: #d81dd8;
  text-align: center;
}
/*Desktop View*/
@media (min-width: 768px){
  nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #1b1b1b;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
 
   
  }






code {
    color: white;
}
code:hover {
    background-image: linear-gradient(to right, #d81dd8,#FFACFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
li{
  color: #7122FA;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 768px){
  li{
    font-size: 20px;
    color: #7122FA;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.nav-link{


}